header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 375px;
  height: 92px;
  top: 50%;
  background: #3c3a39;
  color: white;
}
.logo h1 {
  height: 24px;
  padding-left: 24px;

  align-items: center;
  text-align: center;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
.nav-icon {
  position: relative;
  right: 16.67%;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 375px;
  background: #1c1a19;
}
.title {
  width: 327px;
  height: 124px;

  font-family: "Crete Round";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;

  /* or 114% */
  letter-spacing: 0.37px;

  /* Theme 3 / Primary 1 */
  color: #ff6b00;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.sub-title {
  width: 327px;
  height: 27px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;

  /* or 133% */
  display: flex;
  align-items: center;

  /* Theme 3 / Primary 4 */
  color: #fff5e1;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.detail {
  width: 327px;
  height: 123px;

  /* Theme 1 / Body Reguler 2 */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  /* or 150% */

  /* Theme 3 / Neutral 11 */
  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}
.social-media {
 
    width: 375px;
    background: #1c1a19;
}
.media-links{
    display: flex;
    flex-direction: row;
   
    padding: 20px;
  width: 200px;
    
    
  
    height: 40px;
  
    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
}
.media-links img :nth-child(1){
    padding-left: 0px;
}
.media-links img{
   padding-right: 21px;
}
